/* Directmessage */

@import url("https://fonts.googleapis.com/css2?family=Archivo Black:wght@400&display=swap");

p {
  margin: 0;
}

.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row-vcenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.direct-message {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 1440px;
  height: 1024px;
}

.group-6310 {
  position: absolute;
  top: 0px;
  none: 0px;
  padding: 19px 0px 807px 0px;
  box-sizing: border-box;
  border-radius: 4px;
  background: linear-gradient(
    180deg,
    rgba(174, 194, 245, 1) 0%,
    rgba(174, 245, 212, 0) 100%
  );
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  mix-blend-mode: normal;
  width: 428px;
  height: 100%;
}

.txt-1057 {
  font-size: 20px;
  font-family: Archivo Black, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.83);
  width: 376px;
  height: 35px;
  word-wrap: break-word;
  margin-bottom: 11px;
}

.group-3510 {
  margin-bottom: 16px;
  box-sizing: border-box;
  width: fit-content;
}

.ellipse-6 {
  background-color: rgba(196, 196, 196, 1);
  width: 61px;
  border-radius: 30.5px;
  margin-right: 20px;
  height: 100%;
}

.txt-646 {
  font-size: 20px;
  font-family: Archivo Black, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
}

.group-401 {
  padding: 9px 272px 11px 6px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.88);
  border: 1px solid rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(4px);
  width: 100%;
}

.ellipse-6 {
  background-color: rgba(196, 196, 196, 1);
  width: 61px;
  border-radius: 30.5px;
  margin-right: 20px;
  height: 100%;
}

.txt-646 {
  font-size: 20px;
  font-family: Archivo Black, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
}

.group-650 {
  position: absolute;
  top: 25px;
  none: 0px;
  background-color: rgba(196, 196, 196, 0.58);
  width: 1012px;
  height: 905px;
}

.group-745 {
  position: absolute;
  top: 645px;
  none: 0px;
  width: 438px;
  height: 99px;
}

.ellipse-5 {
  background-color: rgba(196, 196, 196, 1);
  width: 107px;
  border-radius: 53.5px;
  margin-right: 45px;
  height: 100%;
}

.rectangle-24 {
  background-color: rgba(255, 255, 255, 1);
  width: 286px;
  height: 77px;
  mix-blend-mode: overlay;
}

.group-647 {
  position: absolute;
  top: 744px;
  none: 0px;
  width: 434px;
  height: 99px;
}

.rectangle-21 {
  background-color: rgba(255, 255, 255, 1);
  width: 286px;
  height: 77px;
  margin-right: 41px;
}

.ellipse-4 {
  background-color: rgba(196, 196, 196, 1);
  width: 107px;
  border-radius: 53.5px;
  height: 100%;
}

.rectangle-18 {
  position: absolute;
  top: 0px;
  left: 428px;
  background-color: rgba(196, 196, 196, 1);
  width: 1px;
  height: 41px;
}

.group-354 {
  position: absolute;
  top: 0px;
  none: 0px;
  padding: 12px 32px 8px 20px;
  box-sizing: border-box;
  background-color: rgba(234, 234, 234, 1);
  width: 1012px;
  height: 56px;
}

.txt-194 {
  font-size: 20px;
  font-family: Archivo Black, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  width: 204px;
  height: 28px;
  word-wrap: break-word;
  margin-right: 660px;
}

.group-885 {
  padding: 6px 4px 4px 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: rgba(255, 0, 0, 1);
  width: 94px;
  height: fit-content;
}

.txt-490 {
  font-size: 11px;
  font-family: Archivo Black, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  width: 78px;
  height: 18px;
  word-wrap: break-word;
}

.frame-15 {
  position: absolute;
  top: 50px;
  left: -9px;
  padding: 9px;
  box-sizing: border-box;
  width: 446px;
  height: 98px;
}

.rectangle-28 {
  background-color: rgba(255, 255, 255, 0.88);
  border: 1px solid rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(4px);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.group-161 {
  position: absolute;
  top: 951px;
  none: 0px;
  width: 965px;
  height: 39px;
}

.txt-181 {
  font-size: 20px;
  font-family: Archivo Black, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.21);
  width: 185px;
  height: 39px;
  word-wrap: break-word;
  margin-right: 742px;
}

.rectangle-20 {
  width: 38px;
  height: 38px;
}
